fastapi
uvicorn[standard]
python-multipart           # manejo de archivos/form-data si lo necesitas
pydantic
mlflow>=2.12.0
scikit-learn
pandas
numpy
joblib                     # si serializas modelos así
prometheus-client          # expone métricas en /metrics
boto3                      # acceso S3 (MinIO)
python-dotenv              # carga variables .env opcional